body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    font-family: Arial, sans-serif; /* Example of a global font */
}

a {
    color: #1CAAD9;
    text-decoration: none; /* Removes underline from all links */
    font-weight: bold;
}

a:hover, a:focus {
    color: #1687A7;
    text-decoration: underline; /* Adds underline on hover/focus for better accessibility */
}
header {
    background: linear-gradient(to right, #8e0404, #000000);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header img {
    max-height: 150px; /* Adjust based on your preference */
    width: auto; /* Maintains aspect ratio */
    margin: 0 auto; /* Centers the logo */
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.sketchfab-container {
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 8px;
    margin: auto; /* Centers the Sketchfab container */
}

.sketchfab-container iframe {
    width: 100%; /* Ensures iframe is responsive */
    height: 350px; /* Adjust as needed */
}
#galleryCarousel, .carousel-inner, .carousel-item img {
    padding: 12px;
    max-width: 100%;
    height: auto;
}

.carousel-item {
    text-align: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 95px;
    padding: 12px;
    display: none; /* Default state hidden, shown on hover */
}

.carousel-item:hover .carousel-caption {
    display: block; /* Shows caption on hover */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%; /* Circular background */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Adds space above the footer */
}

.social-media-links a {
    color: #fff; /* White color for icons */
    font-size: 20px; /* Size of the icons */
    transition: color 0.3s ease;
}

.social-media-links a:hover {
    color: #ff0000; 
}
