body {
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
}

.sketchfab-container {
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 8px;
}

iframe {
width: 400%;
height: 300px; 
}
.sketchfab-container iframe {
    width: 1400px; /* Adjust as needed */
    max-width: 100%; /* Set a maximum width if necessary */
    height: 350px; /* Adjust as needed */
}

/* Ensure responsiveness for carousel images */
.carousel-item img {
    width: 100%;
    height: auto;
}

/* Add this if you want the carousel container to be responsive */
#galleryCarousel {
    max-width: 100%; /* Set a maximum width if necessary */
}

/* Add this if you want to make the Sketchfab section responsive */
.sketchfab-section {
    max-width: 100%; /* Set a maximum width if necessary */
}

header {
    background: linear-gradient(to right, #3379a3, #000000);
    color: #fff;
    text-align: center;
    padding: 1em;
    height: 190px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    overflow: hidden;
    width: 300px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#galleryCarousel {
    margin-top: 20px;
    overflow: hidden;
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item {
    text-align: center;
    transition: transform 0.5s ease;
}

.carousel-item img {
    border-radius: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 15px;
    transition: opacity 0.5s ease;
}

.carousel-caption h2,
.carousel-caption p {
    margin: 0;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
}
