body {
    margin: 0;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
}

header {
    background: linear-gradient(to right, #3379a3, #000000);
    color: #fff;
    text-align: center;
    padding: 1em;
    height: 140px;
}

h1 {
    font-size: 2.5em;
}

.sketchfab-section {
    margin-bottom: 30px;
}

.sketchfab-embed-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio for responsive iframes */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sketchfab-embed-wrapper p {
    font-size: 1.2em;
    margin: 10px 0;
}

.sketchfab-embed-wrapper a {
    color: #007bff; /* Bootstrap primary color for links */
    text-decoration: none;
    font-weight: bold;
}

.sketchfab-embed-wrapper a:hover {
    text-decoration: underline;
}

